{% load static %}

<!DOCTYPE html>
<html  lang="en">
<head>
<title>Aeroporto PCS</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="content">
    <div class="column-left">
      <h3>MENU DE OPCOES</h3>
      <a href="#skip-menu" class="hidden">Skip menu</a>
      <ul class="menu">
        <li><a href="{% url 'cadastrar' %}">Cadastrar</a></li>
        <li><a href="{% url 'central' %}">Listar Voos</a></li>
        <li><a href="{% url 'monitorar' %}">Monitorar</a></li>
        <li><a href="{% url 'relatorio' %}">Gerar Relatório</a></li>
      </ul>
    </div>

        <div class="box-in">
            {% block content %}
            {% endblock %}
        </div>
      </div>
</html>