{% load static %}

<!DOCTYPE html>
<html  lang="en">
<head>
<title>Aeroporto PCS</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="content">
    <a class="voltar" href="{% url 'login' %}"><img src="{% static 'images/back.svg' %}" alt=""></a>
    <div class="column-left">
      <a href="{% url 'home' %}">AERO SISTEM</a>
      <ul class="menu">
        <li><a href="{% url 'cadastrar' %}">Cadastrar</a></li>
        <li><a href="{% url 'central' %}">Listar Voos</a></li>
        <li><a href="{% url 'monitorar' %}">Monitorar</a></li>
        <li><a href="{% url 'relatorio' %}">Gerar Relatório</a></li>
      </ul>
    </div>

        <div class="box-in">
            {% block content %}
            <h1>aaaaaaaaaaaaaaaaaaaaaa</h1>
            {% endblock %}
        </div>
      </div>
</html>