{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cadastrar</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}" />
</head>
<body>
    {% block content %}
        <header>
            <div class="content">
                <a class="voltar" href="{% url 'home' %}"><img src="{% static 'images/back.svg' %}" alt=""></a>
                <div class="column-left">
                  <a href="{% url 'home' %}">AERO SISTEM</a>
                  <ul class="menu">
                    <li><a href="{% url 'cadastrar' %}">Cadastrar</a></li>
                    <li><a href="{% url 'central' %}">Listar Voos</a></li>
                    <li><a href="{% url 'monitorar' %}">Monitorar</a></li>
                    <li><a href="{% url 'relatorio' %}">Gerar Relatório</a></li>
                  </ul>
                </div>
        </header>
        <div class="dashboard">
            <h1>Cadastrar Voo</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>