{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
</head>
<body>
    {% block content %}
        <header>
            <div class="content">
                <a class="voltar" href="{% url 'login' %}"><img src="{% static 'images/back.svg' %}" alt=""></a>
                <div class="column-left">
                  <a href="{% url 'home' %}">AERO SISTEM</a>
                  <ul class="menu">
                    <li><a href="{% url 'cadastrar' %}">Cadastrar</a></li>
                    <li><a href="{% url 'central' %}">Listar Voos</a></li>
                    <li><a href="{% url 'monitorar' %}">Monitorar</a></li>
                    <li><a href="{% url 'relatorio' %}">Gerar Relatório</a></li>
                  </ul>
                </div>
        </header>
        <div class="dashboard">
            <h1>DASHBOARD saída</h1>
            {% for voo in voos_dinamico2 %}
        <div>
            <div class="box">
                <div class="item">
                    <li>Companhia Aérea: {{ voo.voo.companhia }}</li>
                </div>

                <div class="item">
                    <li>Código: {{ voo.voo.codigo}}</li>
                </div>

                <div class="item">
                    <li>Descrição: {{ voo.voo.rota }}</li>
                </div>

                <div class="item">
                    <li>Status: {{ voo.status }}</li>
                </div>

                <div class="item">
                    <li>Previsão Horário Partida: {{ voo.voo.previsao_partida }}</li>
                </div>

                <div class="item">
                    <li>Previsão Horário Chegada: {{ voo.voo.previsao_chegada }}</li>
                </div>

                <div class="item">
                    <li>Horário Partida: {{ voo.data_saida }}</li>
                </div>

                <div class="item">
                    <li>Horário Chegada: {{ voo.data_chegada }}</li>
                </div>

            </div>
        </div>
    {% endfor %}

    <h1>DASHBOARD Chegada</h1>
    {% for voo in voos_dinamico %}
        <div>
            <div class="box">
                <div class="item">
                    <li>Companhia Aérea: {{ voo.voo.companhia }}</li>
                </div>

                <div class="item">
                    <li>Código: {{ voo.voo.codigo}}</li>
                </div>

                <div class="item">
                    <li>Descrição: {{ voo.voo.rota }}</li>
                </div>

                <div class="item">
                    <li>Status: {{ voo.status }}</li>
                </div>

                <div class="item">
                    <li>Previsão Horário Partida: {{ voo.previsao_partida }}</li>
                </div>

                <div class="item">
                    <li>Previsão Horário Chegada: {{ voo.previsao_chegada }}</li>
                </div>

                <div class="item">
                    <li>Horário Partida: {{ voo.voo.data_saida }}</li>
                </div>

                <div class="item">
                    <li>Horário Chegada: {{ voo.voo.data_chegada }}</li>
                </div>

            </div>
        </div>
    {% endfor %}
    {% endblock %}
</body>
</html>