{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Aeroporto PCS</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
</head>

<body>
    <div class="card">
        {% if user.is_authenticated %}
            Hi {{ user.username }}!
            {% else %}
            <form method="post">
                <h1 class="titulo">Entrar</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <span>Esqueci minha senha</span>
                <button type="submit">Entrar</button>
            </form>
        {% endif %}
    </div>
</body>
</html>