@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500&display=swap'); /*Importando fonte do google fonts*/

* { /*Tag global para definir fonte no site inteiro*/
    font-family: 'Syne', sans-serif;
}
body {
    background-color: red;
}
h1{
    color: blue;
}
header{
    color: green;
}